@model BPTennis.MVC.Models.SessionModel

@{
    ViewBag.Title = "Session";
}

<script type="text/javascript">
    var selectedPlayers = "";
    var selectedPlayer = "";
    var playerPosition = "";
    var originalBackColor = "#D3DCE0";
    var selectedBackColor = "lightgreen";

    function ChangeColour(clickedButton) {        
        var playerId = clickedButton.id.toString().replace('button', '');
       
        if (document.getElementById(clickedButton.id).style.backgroundColor == "" || document.getElementById(clickedButton.id).style.backgroundColor != selectedBackColor) {
            document.getElementById(clickedButton.id).style.backgroundColor = selectedBackColor;
            selectedPlayers += playerId + "|";
            selectedPlayer = playerId;
            //document.location.href = "Session/GetPlayerPosition?sessionId=@Model.Id&playerId=" + playerId;
            //alert(playerPosition);
        }
        else {
            document.getElementById(clickedButton.id).style.backgroundColor = originalBackColor;
            selectedPlayers = selectedPlayers.replace('|' + playerId + '|', '|');
            selectedPlayer = selectedPlayer.replace(playerId, '');
        }
    }

    function playerPositionUp(clickedButton) {
        var playerId = clickedButton.id.toString().replace('button', '');
        document.location.href = "Session/GainPlayerPosition?sessionId=@Model.Id&playerId=" + playerId;
    }

    function playerPositionDown(clickedButton) {
        var playerId = clickedButton.id.toString().replace('button', '');
        document.location.href = "Session/DropPlayerPosition?sessionId=@Model.Id&playerId=" + playerId;
    }

    function courtClick(courtId) {
        var playerIds = selectedPlayers.split("|");
        var numberOfSelectedPlayers = playerIds.length - 1;

        if (numberOfSelectedPlayers == 4)
            document.location.href = "Session/AddPlayerToCourt?sessionId=@Model.Id&courtId=" + courtId + "&courtPlayers=" + selectedPlayers;
        else {
            alert("Please select 4 players!");      
        }
    }

    function courtRemoveClick(courtId) {       
        document.location.href = "Session/EndOfGame?sessionId=@Model.Id&courtId=" + courtId + "&courtPlayers=" + selectedPlayers;
    }

    function PlayerGoHome(clickedButton) {
        var playerId = clickedButton.id.toString().replace('button', '');
        document.location.href = "Session/SendPlayerHome?sessionId=@Model.Id&playerId=" + playerId;
    }
 
</script>

<table>
    <h3>@Model.Date.ToString("yyyy-MM-dd")</h3>
    <tr>
        <th style="width:500px"><h2>Available Players</h2></th>
        <th><h2>Courts</h2></th>
    </tr>
    <tr>
        <td>
            <table>
            @foreach (var item in Model.Pool.Players) {
                <tr>
                   <th><input id="@string.Format("button{0}",item.Id)" type="button" value="@item.DisplayName" onclick="ChangeColour(this)" style="width:250px" /></th>
                   <th><input id="@string.Format("button{0}",item.Id)" type="button" value="Up" onclick="playerPositionUp(this)" /></th>
                   <th><input id="@string.Format("button{0}",item.Id)" type="button" value="Down" onclick="playerPositionDown(this);" style="width:60px;"/></th>
                   <th><input id="@string.Format("button{0}",item.Id)" type="button" value="X" onclick="PlayerGoHome(this)" style="width:25px;" /></th>
               </tr>                 
            }
           </table>
        </td>
        <td>
            <table>                
                @for(int counter=0; counter < Model.Courts.Count; counter += 2) {
                    <tr>
                        <td style="width:200px">
                            <table>                                
                                <tr>
                                    <th style="border:1px solid black; width:100px; text-align:center; cursor:pointer; background-color:#D3DCE0" onclick="courtClick(@Model.Courts[counter].Id)">
                                        @Model.Courts[counter].CourtName
                                    </th>
                                    <th style="border:1px solid black; width:20px; text-align:center; cursor:pointer; background-color:#D3DCE0" onclick="courtRemoveClick(@Model.Courts[counter].Id)">X</th>
                                </tr>
                                @foreach (var player in Model.Courts[counter].Players) { 
                                <tr>
                                    <th style="border:1px solid black; height:50px; text-align:center;">@player.Name @player.Surname</th>
                                </tr>
                                }
                            </table>
                        </td>
                        <td>
                            @if(counter+1 < Model.Courts.Count){                            
                             <table>                                
                                <tr>
                                    <th style="border:1px solid black; width:100px; text-align:center; cursor:pointer; background-color:#D3DCE0" onclick="courtClick(@Model.Courts[counter+1].Id)">
                                        @Model.Courts[counter+1].CourtName
                                    </th>
                                    <th style="border:1px solid black; width:20px; text-align:center; cursor:pointer; background-color:#D3DCE0" onclick="courtRemoveClick(@Model.Courts[counter+1].Id)">X</th>
                                </tr> 
                                @foreach (var player in Model.Courts[counter+1].Players) { 
                                <tr>
                                    <th style="border:1px solid black; height:50px; text-align:center;">@player.Name @player.Surname</th>
                                </tr>
                                }
                            </table>
                            }
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Add Player", "AddActive", new { sessionId = Model.Id })
</p>

