@model IEnumerable<BPTennis.MVC.Models.PlayerModel>

@{
    ViewBag.Title = "Inactive";
}

<h2>Inactive</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            >> @Html.ActionLink("Reinstate", "Reinstate", new { id=item.Id })
        </td>
    </tr>
}
</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

